@inherits InputBase<string>

<label class="label mb-2  text-start">@Title</label>
    <div class="control">
        <input class="@CssClass" value="@localValue" type="password" onchange="@OnChange"/>
    </div>
@code {
    [Parameter] public string Title { get; set; }
    private string localValue;
    void OnChange(ChangeEventArgs e)
    {
        var value = (e.Value?.ToString()) ?? string.Empty;
        CurrentValue = value;
        EditContext.NotifyFieldChanged(FieldIdentifier);
    }

    protected override bool TryParseValueFromString(string value,
    out string result,
    out string validationErrorMessage)
    {
        result = CurrentValue;
        validationErrorMessage = null;
        return true;
    }
}
