@inject IAuthService authService
@inject IManageUsersService manageUser
@inject NavigationManager navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Auction.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
            
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="(()=> Logout())">
                        <span class="bi bi-list-nested-nav-menu "  aria-hidden="true"></span>Logout
                    </NavLink>
                        <small class="w-100 mx-lg-5 text-light text-end">@(context.User.Claims.FirstOrDefault(claim => claim.Type == "name")?.Value)</small>
                </div>
            </Authorized>
            <NotAuthorized>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>


@code {
    public UserModel? User { get; set; }
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
  //  string link = "dashboard/" + "";
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public void Logout()
    {
        authService.Logout();
        navigation.NavigateTo("/");
    }
    
}
