@page "/"

<PageTitle>Home</PageTitle>

<h1>Leilões</h1>

<h4>Bem Vindo ao melhor sistema de Leilão online</h4>
<p>Aqui você pode criar leilões, Gerencia-los e também coferir os leilões ativos e dar seus lances</p>
<p>Comece Hoje mesmo a usufruir!!!</p>
