@page "/"

<PageTitle>Home</PageTitle>

<h1>Leilões</h1>


<h4>Bem Vindo Ao Sistema De Leilão Online</h4>

<p>Aqui você pode criar Leilões, gerencia-los e também dar lances em leilões ativos.</p>

<strong>Comece Hoje Mesmo A Desfrutar!!!</strong>