@page "/"

<PageTitle>Home</PageTitle>

<h1>Leilões</h1>


<br />
<AuthorizeView Roles="administrator">
    <Authorized>
    <p>Aqui só visualiza porque voce é admin</p>
    </Authorized>
    <NotAuthorized>
        <p>Voce não é admin, e por isso não visualiza essa parte do conteudo</p>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="vip">
    <Authorized>
<br />
<h1>Aqui só visualiza porque voce é vip</h1>
    </Authorized>
    <NotAuthorized>
        <p>Voce não é vip, e por isso não visualiza essa parte do conteudo</p>
    </NotAuthorized>
</AuthorizeView>