@page "/"
<style>
    body{
        background-image: linear-gradient(90deg, #fffffff1 0%, #00000041 90%), url(/images/leilao.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        }
</style>
<PageTitle>Home</PageTitle>

<h1 class="text-center">Leilões</h1>


<h4>Bem Vindo Ao Sistema De Leilão Online</h4>

<p>Aqui você pode criar Leilões, gerencia-los e também dar lances em leilões ativos.</p>

<p>
    <strong>Comece Hoje Mesmo A Desfrutar!!!</strong>
</p>

