@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center">Leilões</h1>


<h4 class="mt-1">Bem Vindo Ao Sistema De Leilão Online</h4>

<p>Aqui você pode criar Leilões, gerencia-los e também dar lances em leilões ativos.</p>

<strong>Comece Hoje Mesmo A Desfrutar!!!</strong>

<img src="images/leilao1.jpg" alt="martelo do juiz" class="d-flex justify-content-center align-content-lg-center m-auto"/>