@page "/login"
@inject IAuthService AuthService
@inject NavigationManager navigation

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div id="divLogin">
    <div>
        <label>Email</label>
        <InputText @bind-Value="@Email"/>
    </div>
    <div>
        <label>Senha</label>
        <InputText  @bind-Value="@Password"></InputText>
    </div>
    <button class="btn btn-primary" @onclick="(()=> Logar())">Login</button>
</div>


@code {
    private int currentCount = 0;
    public string Email = "";
    public string Password = "";
    public string? token = "";
    public async void Logar()
    {
        token = await AuthService.GetToken(Email, Password);
        if (token != null) navigation.NavigateTo("/dashboard");
    }
}
