#divLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
<<<<<<< HEAD
Sign {
    display: flex;
    justify-content: center;
=======
.col{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 0 40%;
}
.form {
    white-space: pre-line;
}
button{
    font-size: .8rem;
    margin-left: 2%;
>>>>>>> fef9aaed6efca246766f600dea03b4c89de4500d
}